body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: Helvetica, sans-serif;
}


img {
  height: 70%;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-bottom: 10px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 248);
  width: 80%;
  margin: auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

h1 {
  margin: 13px;
}

a {
  color:#000000;
  font-size: 20px;
  font-weight:800;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

button {
  font-size: 10px;
}


.main {
  display: flex;
  justify-content: space-evenly;

}

.project {
  font-family: Helvetica, sans-serif;
  text-align: center;
  height: 400px;
  width: 500px;
  margin: 50px 20px;
  padding: 0 0 20px 0;
  background-color: rgb(255, 255, 248);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}


button {
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 2px;
  margin: 0 5px;
  box-sizing: border-box;
  color: #111827;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

button:hover {
  background-color: rgb(249,250,251);
}

